h1 {
    color: darkcyan;
    background-color: aliceblue;
    padding: 12px;
    margin: 24px;
    text-align: center;
    font-family: Helvetica, sans-serif;
}

p {
    color: slateblue;
    text-align: left;
}

div {
    color: orange;
}