h1 {
    color: darkcyan;
    background-color: aliceblue;
    padding: 12px;
    margin: 24px;
    text-align: center;
    font-family: Helvetica, sans-serif;
}

/* p.error {
    color: red;
}

p.success {
    color: green;
}

p.success.feedback {
    border: 2px dashed orange;
    color: orange;
    padding: 24px;
}

div#content {
    background-color: rgb(245, 255, 239);
    padding: 16px;
    margin: 24px;
} */

div p {
    color: purple;
}

a[href] {
    background-color: aquamarine;
}